
/* HEADER */

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://img.freepik.com/premium-photo/tasty-pepperoni-pizza-black-concrete-background_79782-103.jpg?w=2000);
  background-size: cover;
  height: 200px;
}

.title, .subTitle {
  padding-top: 10px;
  color: white;
}



/* NAVBAR */

.cartFormat {
  text-decoration: none !important;
  color: white;
}

/* CARD */

.card {
  margin: 10px;
  margin: solid;
}

.cardBody {
  text-align: center;
}

.verButton {
  margin-bottom: 10px;
}

/* DETAILS Pizza */

.detailButton {
  margin-right: 10px;
}

/* Detail PRICE */

.footerTotal {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-top: groove 1px rgba(0, 0, 0, 0.322);
}


